@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DevOps</h1>
    <p>Learn about devops <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core and it is interesting to implement the CICD automation solution.</a>.</p>
</div>
